{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заголовок{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/firstapp.css' %}">
</head>
<body>
<h1>{% block header %}Заголовок{% endblock %}</h1>
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                <p class="info">{{ messages | safe }}</p>
            {% endif %}
        </div>
    </div>
<div>{% block content %}{% endblock %}</div>
<div>Подвал страницы</div>

</body>
</html>