<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .field {
            font-weight: bold;
        }
        .alert {
            color: red;
        }
        .error{
            color: rebeccapurple;
            background-color: #FCA205;


        }
        .error_list
    </style>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form>
</body>
</html>