{% extends 'firstapp/base.html' %}
{% block header %}
{{ title }}
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'index_moss' %}">Весь мох</a>
        </div>
        <div class="col-md-12">
            <form action="{% url 'edit_moss' moss.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Изменить">
            </form>
        </div>
        <div class="col-md-12">
            <p>Id: {{ moss.id }}</p>
            <p>Имя: {{ moss.name }}</p>
        </div>
        <div class="col-md-12">
            
        </div>
    </div>
{% endblock %}