{% extends 'firstapp/base.html' %}
{% block header %}
{{ title }}
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md12">
            <a href="{% url 'index_forest' %}">Все леса</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'edit_forest' forest.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="Отправить">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if trees.count > 0 %}
                <table>
                    {% for tree in trees %}
                        <tr>
                        <td>{{ tree.id }}</td>
                        <td>{{ tree.name }}</td>
                        <td>{{ tree.height }}</td>
                        <td><a href="{% url 'edit_tree' forest.id tree.id %}">Изменить</a></td>
                        <td><a href="{% url 'delete_tree' forest.id tree.id %}">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}