{% extends 'firstapp/base.html' %}
{% block title %}
Электрики
{% endblock %}
{% block header %}
Электрики
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Добавить нового электрика</h3>
            <form action="{% url 'electric_new' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Добавить">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if electrics.count > 0 %}
                <table>
                        <tr>
                            <td>Имя</td>
                            <td>Описание</td>
                            <td>Работает</td>
                            <td>Email</td>
                            <td>Район</td>
                            <td>Изменить</td>
                            <td>Удалить</td>
                        </tr>
                    {% for electric in electrics %}
                        <tr>
                            <td>{{ electric.name }}</td>
                            <td>{{ electric.bio }}</td>
                            <td>{{ electric.active }}</td>
                            <td>{{ electric.email }}</td>
                            <td>{{ electric.dict }}</td>
                        </tr>
                    {% endfor %}
                </table>

            {% endif %}
        </div>
    </div>
{% endblock %}