{% extends 'firstapp/base.html' %}
{% block title %}
    Цикл For в шаблоне
{% endblock %}
{% block header %}
    Цикл For в шаблоне
{% endblock %}
{% block content %}
    <ul>
        {% for item in array %}
            <li>{{ item | capfirst }}</li>
        {% empty %}
            <p>Массив пуст</p>
        {% endfor %}
    </ul>
    {% with name='Чайхана' nom=1 %}
        <div>
            <p>При магазине работает {{ name }}</p>
            <p>Номер {{ nom }}</p>
        </div>
    {% endwith %}
{% endblock %}