<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
<style>
    h1 {
        color: gray;
    }
</style>
<h1>Домашняя страница</h1>
<h2 style="color: #FCA205">firstapp/templates/firstapp/home.html</h2>
<div class="row">
    <div class="col-md-8">
        <font style="color: rebeccapurple">
            {{ content }}
        </font>
    </div>
</div>
</body>
</html>