{%  extends 'firstapp/base.html' %}
{% block header %}
{{ title }}
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <form action="{% url 'create' %}" method="post">
        <div>{% csrf_token %}</div>
        <div>
            <label>Введите имя:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Введите возраст:</label>
            <input type="number" name="age">
        </div>
        <div>
            <input type="submit" value="Отправить">
        </div>
    </form>
    {% if persons.count > 0 %}
        <table>
            {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}