{% extends 'firstapp/base.html' %}
{% block header %}
Поиск
{% endblock %}
{% block title %}
Поиск
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ test_query[0].name }}

        </div>
        <div class="col-md-12">
            {% if query.count > 0 %}
                <table>
                    {% for bug in query %}
                        <tr>
                            <td> <hr> </td>
                            <td> <hr> </td>
                            <td> <hr> </td>
                        </tr>
                        <tr>
                            <td>{{ bug.id }}</td>
                            <td><a href="{% url 'bug_edit' bug.id %}">{{ bug.name }}</a></td>
                            <td>{{ bug.population }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>

    </div>
{% endblock %}