{% extends 'firstapp/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
{{ title }}
{% endblock %}
{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {%  for field in form %}
                <div>{{ field.label_tag }}</div>
                <div>{{ field }}</div>
                <div class="errors">{{ field.errors }}
                    {% for error in field.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}