{% load static %}
<html>
<head>
    <title>My blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<div class="page-header">
    <a href="{% url 'index' %}" class="top-menu btn btn-warning">First App</a>
    {% if user.is_authenticated %}
        <div class="mt-3 left">{{ user.username.title }} </div>
        <a class="top-menu btn btn-warning" href="{% url 'logout' %}">Выйти</a>
        <a href="{% url 'post_new' %}" class="top-menu mt-3"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu btn btn-warning">Черновики</a>
    {% else %}
        <a class="top-menu btn btn-warning" href="{% url 'login' %}">Войти</a>
    {% endif %}
    <h1><a href="/">Django Girls Blog</a></h1>
</div>
    <div class="content container">
    <div class="row">
        <div class="col-md-8">
{#            здесь выведется тело страницы,#}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
    <div><a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">Wiki</a></div>
<footer class="footer">
    <a href="https://djangogirls.org/">Учебник</a>
</footer>
</body>
</html>