{% extends 'blog/base.html' %}
{% block content %}
    {%  if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="glyphicon glyphicon-pencil btn btn-info"></a>
        <a class="btn btn-warning" href="{% url 'post_delete' pk=post.pk %}"> Удалить пост</a>
    {% endif %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <b>Дата публикации:</b>{{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}